__pycache__/
*.pyc
.venv/
venv/
data/raw/*.parquet
data/processed/*.parquet
.pytest_cache/
.env
streamlit.pid
streamlit_out.log
streamlit_err.log
data/raw/pncp/
data/raw/ipca_indice_anual.parquet
.streamlit/secrets.toml
